Repository vatsimhk/Hong-Kong-Sector-Package, pull requests merged in 2025-04, with the labels that each got.

#192 Correct Macau Runway 34 SID/STAR map displays
  Data/Plugins/TopSky/TopSkyMaps.txt
  Data/Sector/Hong-Kong-Sector-File.sct
Labels: sct/ese, visual

#193 Hide decommissioned I-2RS taxiways by default
  Data/Plugins/Ground Radar Plugin/GRpluginMaps.txt
Labels: plugins, sct/ese

#194 Modify extended centreline colour for VHHH
  Data/ColourThemes.txt
  Data/Plugins/TopSky/TopSkyMaps.txt
Labels: visual

#199 Update TopSkyCPDLC.txt DCL atis item
  Data/Plugins/TopSky/TopSkyCPDLC.txt
Labels: plugins

#197 Fix incorrect display rules for DEH/FAD/MCU/TMW sector boundary
  Data/Sector/Hong-Kong-Sector-File.ese
Labels: bug, sct/ese, visual
