Repository vatsimhk/Hong-Kong-Sector-Package, pull requests merged in 2025-01, with the labels that each got.

#147 Update CDM plugin
  Data/Plugins/CDM/CDM.dll
Labels: plugins

#149 Update waypoint coordinates with those from the AIP
  Data/Plugins/TopSky/TopSkyMaps.txt
  Data/Sector/Hong-Kong-Sector-File.ese
  Data/Sector/Hong-Kong-Sector-File.sct
Labels: sct/ese

#155 Curve RF legs in GRP APP Window Maps
  Data/Plugins/Ground Radar Plugin/GRpluginMaps.txt
Labels: plugins, 2RS Regression, visual

#157 Updated Tag Item for SIM family for directs
  Data/Settings/TagDefinitions.txt
Labels: enhancement

#134 Add new .asr for new Kai Tak TopSky maps
  Data/ASR/Hong Kong ACC.asr
  Data/ASR/Hong Kong TMA (Training).asr
  Data/ASR/Hong Kong TMA.asr
  Data/ASR/Hong Kong Zone.asr
  Data/ASR/Kai Tak TMA.asr
  Data/Plugins/TopSky/TopSkyMaps.txt
  Data/Plugins/TopSky/TopSkySettings.txt
  Data/Sector/Hong-Kong-Sector-File.sct
  Hong Kong TOPSKY.prf
Labels: enhancement, visual
